# Local directories
/release
/captures
/proguard
/design
/dist

# Local configuration file (sdk path, etc)
/local.properties
/keystore.jks

# Android Studio
.idea
*.iml
.gradle
local.gradle
build

# OSX files
.DS_Store
