<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:sharedUserId="com.oasisfeng.island" >

    <application android:label="@string/app_name" tools:replace="label" android:icon="@mipmap/ic_launcher"
                 android:allowBackup="true" android:fullBackupContent="@xml/backup" tools:ignore="GoogleAppIndexingWarning" />

</manifest>
