<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.oasisfeng.island" android:sharedUserId="com.oasisfeng.island" android:versionCode="29200" android:versionName="2.9.2" >

    <application android:label="@string/app_name" tools:replace="label" android:icon="@mipmap/ic_launcher"
                 android:allowBackup="true" android:fullBackupContent="@xml/backup" tools:ignore="GoogleAppIndexingWarning">

        <!-- For Run/Debug Configuration in Android Studio to work properly -->
        <activity android:name="com.oasisfeng.island.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
