<manifest package="com.oasisfeng.island.fileprovider" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" /> <!-- EventReceiver -->

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <!-- ShuttleProvider to proxy the content requests across profile. -->
        <provider android:authorities="com.oasisfeng.island.files.shuttle"
                  android:name=".ShuttleProvider"
                  android:permission="android.permission.MANAGE_DOCUMENTS"
                  android:grantUriPermissions="true"
                  android:exported="true"
                  android:enabled="false"
                  android:process=":file_shuttle"> <!-- use separate process to avoid unnecessary initialization of this provider -->
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider android:authorities="com.oasisfeng.island.files"
                  android:name=".ExternalStorageProviderProxy"
                  android:exported="false"
                  android:process=":file"/> <!-- Always running in different user from ShuttleProvider, therefore never use the same process. -->

        <receiver android:name=".EventReceiver"
                  android:exported="false"> <!-- Share the same process of main UI -->
            <intent-filter>
                <action android:name="MAIN_UI_RESUME" /> <!-- This event is also triggered when permission request dialog is closed and main UI is resumed. -->
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
