<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- For Run/Debug Configuration in Android Studio to work properly -->
        <activity android:name="com.oasisfeng.island.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
