<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <application>

        <!-- Export components in engine to be accessible by other debug modules -->
        <activity android:name="com.oasisfeng.island.shuttle.ServiceShuttleActivity" android:exported="true" tools:replace="android:exported" />
        <service android:name="com.oasisfeng.island.engine.IslandManagerService$AidlService" android:exported="true" tools:replace="android:exported" />

    </application>

</manifest>
