<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.oasisfeng.island" android:versionCode="6" android:versionName="engine">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <activity android:name="com.oasisfeng.island.shuttle.ServiceShuttleActivity"
                  android:exported="true" tools:replace="android:exported" />

        <service android:name="com.oasisfeng.island.engine.IslandManagerService$AidlService"
                 android:exported="true" tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.oasisfeng.island.engine.IIslandManager" />
            </intent-filter>
        </service>

    </application>

</manifest>
