<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.oasisfeng.island.engine" android:versionCode="7" android:versionName="engine">

    <application>

        <!-- Export components to be accessible by other debug modules -->
        <activity android:name="com.oasisfeng.island.shuttle.ServiceShuttleActivity" android:exported="true" tools:replace="android:exported" />
        <service android:name=".IslandManagerService$AidlService" android:exported="true" tools:replace="android:exported" />

    </application>

</manifest>
