<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.oasisfeng.island.mobile" android:versionCode="6" android:versionName="2.0 beta 2" >

    <uses-feature android:name="android.software.device_admin" android:required="true" />
    <uses-feature android:name="android.software.managed_users" android:required="true" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" /> <!-- ServiceShuttle -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" /> <!-- Not yet used -->

    <application android:allowBackup="false"
                 android:label="Island - Mobile"
                 android:icon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

        <activity android:name="com.oasisfeng.island.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.oasisfeng.island.setup.SetupActivity" android:exported="true" android:theme="@style/SetupTheme" />

        <provider android:authorities="${applicationId}.apps"
                  android:name="com.oasisfeng.island.data.IslandAppListProvider"
                  android:exported="false"
                  android:multiprocess="true" />

    </application>

</manifest>
