<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.oasisfeng.island.engine" android:installLocation="internalOnly">

    <uses-feature android:name="android.software.device_admin" android:required="true" />
    <uses-feature android:name="android.software.managed_users" android:required="true" />

    <permission-group android:name="${applicationId}.permission-group.PACKAGE_ACCESS"
                      android:label="@string/permission_group_control_island_apps_label"
                      android:description="@string/permission_group_control_island_apps_description"
                      android:icon="@drawable/ic_landscape_black_24dp" />

    <permission android:name="${applicationId}.permission.FREEZE_PACKAGE"
                android:permissionGroup="com.oasisfeng.island.permission-group.PACKAGE_ACCESS"
                android:protectionLevel="dangerous"
                android:label="@string/permission_freeze_app_label"
                android:description="@string/permission_freeze_app_description" />

    <permission android:name="${applicationId}.permission.LAUNCH_PACKAGE"
                android:permissionGroup="com.oasisfeng.island.permission-group.PACKAGE_ACCESS"
                android:protectionLevel="dangerous"
                android:label="@string/permission_launch_app_label"
                android:description="@string/permission_launch_app_description" />

    <permission android:name="${applicationId}.permission.SUSPEND_PACKAGE"
                android:permissionGroup="com.oasisfeng.island.permission-group.PACKAGE_ACCESS"
                android:protectionLevel="dangerous"
                android:label="@string/permission_suspend_app_label"
                android:description="@string/permission_suspend_app_description" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- IslandProvisioning & ShuttleKeeper, required if targeting API 28+ -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" tools:ignore="ProtectedPermissions" /> <!-- ServiceShuttle -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- Required to start ACTION_INSTALL_PACKAGE since Android O -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" /> <!-- TBD -->

    <application android:label="Island - Engine" tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

        <activity android:name="com.oasisfeng.island.shortcut.AppLaunchShortcut"
                  android:hardwareAccelerated="false"
                  android:resumeWhilePausing="true"
                  android:excludeFromRecents="true"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:clearTaskOnLaunch="true"
                  android:taskAffinity=":shortcut"
                  android:launchMode="singleTask" > <!-- Most important attribute: launchMode="singleTask" -->
            <intent-filter android:priority="-1"> <!-- Negative priority cause intent matching preferably in profile -->
                <action android:name="com.oasisfeng.island.action.LAUNCH_CLONE" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="target" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.oasisfeng.island.action.LAUNCH_APP" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="target" />
                <data android:scheme="package" />
            </intent-filter>
        </activity>

        <activity android:name="com.oasisfeng.island.api.ApiActivity"
                  android:hardwareAccelerated="false"
                  android:resumeWhilePausing="true"
                  android:excludeFromRecents="true"
                  android:alwaysRetainTaskState="true"
                  android:taskAffinity=":api"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.oasisfeng.island.action.FREEZE" />
                <action android:name="com.oasisfeng.island.action.UNFREEZE" />
                <action android:name="com.oasisfeng.island.action.LAUNCH" />
                <action android:name="com.oasisfeng.island.action.SUSPEND" />
                <action android:name="com.oasisfeng.island.action.UNSUSPEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
                <data android:scheme="packages" /> <!-- ssp: comma-separated package names -->
            </intent-filter>
        </activity>

        <receiver android:name="com.oasisfeng.island.api.ApiReceiver">
            <intent-filter>
                <action android:name="com.oasisfeng.island.action.FREEZE" />
                <action android:name="com.oasisfeng.island.action.UNFREEZE" />
                <action android:name="com.oasisfeng.island.action.LAUNCH" />
                <action android:name="com.oasisfeng.island.action.SUSPEND" />
                <action android:name="com.oasisfeng.island.action.UNSUSPEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
                <data android:scheme="packages" /> <!-- ssp: comma-separated package names -->
            </intent-filter>
        </receiver>

        <!-- ServiceShuttleActivity (non-exported) -->
        <activity android:name="com.oasisfeng.island.InternalActivity$_1"
                  android:exported="false"
                  android:hardwareAccelerated="false"
                  android:resumeWhilePausing="true"
                  android:excludeFromRecents="true"
                  android:theme="@android:style/Theme.NoDisplay"
                  android:taskAffinity=":shuttle" >
            <intent-filter>
                <action android:name="com.oasisfeng.island.action.BIND_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.oasisfeng.island.shuttle.MethodShuttle$MethodShuttleService" android:exported="false">
            <intent-filter android:priority="-1">
                <action android:name="com.oasisfeng.island.shuttle.IMethodShuttle" />
            </intent-filter>
        </service>

        <service android:name="com.oasisfeng.island.provisioning.IslandProvisioning" android:exported="false"
                 android:directBootAware="true" tools:targetApi="n">
            <intent-filter>
                <action android:name="android.app.action.PROVISION_MANAGED_PROFILE" />
                <action android:name="android.app.action.PROVISION_MANAGED_DEVICE" />
            </intent-filter>
        </service>

        <receiver android:name="com.oasisfeng.island.IslandDeviceAdminReceiver"
                  android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.oasisfeng.island.provisioning.ManualProvisioningReceiver" android:exported="false" android:directBootAware="true" tools:targetApi="n">
            <intent-filter android:priority="9999"> <!-- High priority to ensure being executed as early as possible -->
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED" />
            </intent-filter>
        </receiver>

        <provider android:name="com.oasisfeng.island.provisioning.AutoIncrementalProvision" android:authorities="${applicationId}.AIP" android:exported="false"/>

        <receiver android:name="com.oasisfeng.island.AppUpdateReceiver" android:exported="false" android:directBootAware="true" tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.oasisfeng.island.shuttle.ShortcutShuttle" tools:ignore="ExportedReceiver"> <!-- Exported without permission requirement, for wider compatibility -->
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
