<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.oasisfeng.island.engine">

    <uses-feature android:name="android.software.device_admin" android:required="true" />
    <uses-feature android:name="android.software.managed_users" android:required="true" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" /> <!-- ServiceShuttle -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- Required to start ACTION_INSTALL_PACKAGE since Android O -->
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" /> <!-- TBD -->

    <application>

        <activity android:name="com.oasisfeng.island.shortcut.AppLaunchShortcut"
                  android:hardwareAccelerated="false"
                  android:excludeFromRecents="true"
                  android:theme="@style/android:Theme.Translucent.NoTitleBar"
                  android:clearTaskOnLaunch="true"
                  android:taskAffinity=":shortcut"
                  android:launchMode="singleTask" > <!-- Most important attribute: launchMode="singleTask" -->
            <intent-filter android:priority="-1"> <!-- Negative priority cause intent matching preferably in profile -->
                <action android:name="com.oasisfeng.island.action.LAUNCH_CLONE" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="target" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.oasisfeng.island.action.LAUNCH_APP" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="target" />
            </intent-filter>
        </activity>

        <activity android:name="com.oasisfeng.island.api.ApiActivity"
                  android:hardwareAccelerated="false"
                  android:excludeFromRecents="true"
                  android:alwaysRetainTaskState="true"
                  android:taskAffinity=":api"
                  android:theme="@style/android:Theme.Translucent.NoTitleBar" >

            <intent-filter>
                <action android:name="com.oasisfeng.island.action.FREEZE" />
                <action android:name="com.oasisfeng.island.action.UNFREEZE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
                <data android:scheme="packages" /> <!-- ssp: comma-separated package names -->
            </intent-filter>

        </activity>

        <receiver android:name="com.oasisfeng.island.api.ApiReceiver">

            <intent-filter>
                <action android:name="com.oasisfeng.island.action.FREEZE" />
                <action android:name="com.oasisfeng.island.action.UNFREEZE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
                <data android:scheme="packages" /> <!-- ssp: comma-separated package names -->
            </intent-filter>

        </receiver>

        <activity android:name="com.oasisfeng.island.shuttle.ServiceShuttleActivity"
                  android:exported="false"
                  android:hardwareAccelerated="false"
                  android:excludeFromRecents="true"
                  android:theme="@style/android:Theme.NoDisplay"
                  android:taskAffinity=":shuttle" >
            <intent-filter>
                <action android:name="com.oasisfeng.island.action.BIND_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.oasisfeng.island.shuttle.MethodShuttle$Service" android:exported="false">
            <intent-filter android:priority="-1">
                <action android:name="com.oasisfeng.island.shuttle.IMethodShuttle" />
            </intent-filter>
        </service>

        <!-- IslandProvisioning -->
        <service android:name="com.oasisfeng.island.InternalService$_1" android:directBootAware="true" tools:targetApi="n" />

        <service android:name="com.oasisfeng.island.shuttle.ShuttleKeeper" />

        <service android:name=".IslandManagerService$AidlService" android:exported="false">
            <intent-filter>
                <action android:name="com.oasisfeng.island.engine.IIslandManager" />
            </intent-filter>
        </service>

        <receiver android:name="com.oasisfeng.island.IslandDeviceAdminReceiver"
                  android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- ManualProvisioningReceiver -->
        <receiver android:name="com.oasisfeng.island.InternalReceiver$_1" android:exported="false" android:directBootAware="true" tools:targetApi="n">
            <intent-filter android:priority="9999"> <!-- High priority to ensure being executed as early as possible -->
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- AppUpdateReceiver -->
        <receiver android:name="com.oasisfeng.island.InternalReceiver$_2" android:exported="false" android:directBootAware="true" tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- ActivityShuttle -->
        <receiver android:name="com.oasisfeng.island.InternalBroadcastReceiver$_1" android:exported="false" />

    </application>

</manifest>
